.inputText::placeholder {
  color: red;
  font-style: italic;
}

.container {
  height: 100vh;
}

.leftSide {
  display: inline-block;
  height: 100vh;
  width: 20%;
  border: 2px solid rgb(3, 78, 9);
  border-radius: 20px;
  background-color: rgba(110, 108, 108, 0.26);
}

.header {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(3, 78, 9);
}

.subtitle {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.rightSide {
  display: inline-block;
  height: 100vh;
  width: 80%;
  float: right;
  border: 2px solid rgb(3, 78, 9);
  border-radius: 20px;
  background-color: rgba(110, 108, 108, 0.26);
}

.switchButton {
  border: 2px solid rgb(4, 167, 17);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.saveButton {
  float: right;
  padding: 20px;
}

.input {
  display: inline-block;
  padding: 20px;
}

.addContainer {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(3, 78, 9);
}

/* inputText */
.inputText {
  background: transparent;
  color: black;
  padding: 0 20px;
  font-size: 17px;
  display: inline-block;
  width: 100%;
  transition: 0.2s;
}

.inputContainer {
  display: inline-block;
  position: relative;
  margin: 15px;
  width: 180px;
  height: 25px;
}

.inputContainer::after {
  content: "";
  height: 3px;
  width: 100%;
  background: #013713;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.inputContainer:hover::after {
  height: 6px;
  width: 110%;
  bottom: -5px;
  left: -5px;
  opacity: 0.8;
  box-shadow: 8px 4px 5px #013713;
}

/* saveButton */

.saveButton {
  background-color: #008cba;
  font-size: 15px;
  padding: 2px;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  margin: 15px;
}
